# Global owners
*       @Austin-Joshua

# Frontend owners
/Frontend/       @Austin-Joshua

# Backend owners
/Backend/        @Austin-Joshua

# ML/Quantum service owners
/ml-service/     @Austin-Joshua
